# SQL Data Structure

![General Database Structure](database_structure.png)

**1. Database Software**: such as MySQL, Postgre SQL, MsSQL, etc

**2. Database**: we can separate data entities with different commercial meanings

**3. Schema**: a collection of Tables, which can be split and grouped according to logic

**4. Tables**: record different data entities

**5. Data**: Different types of data can be stored


<br><br><br>


## Schema Syntax

**Create a Schema:**

```
CREATE SCHEMA `new_schema` DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;
```

- ```CREATE SCHEMA `new_schema` ```: create a schema and give a name

- ```DEFAULT CHARACTER SET utf8mb4```: set a common character "4-Byte UTF-8 Unicode Encoding" series here

- ```COLLATE utf8mb4_unicode_ci```: a derivative of character encoding that can use emoji-related symbols



<br><br><br>

## SQL Syntax(Table)

### **Four characteristics of tables:**

1. Tables record the **metadata** of each column, including the data type, default value, comments, etc.

2. Tables are responsible for managing the index, which can improve the speed of searching for data in the table. 

3. Provide relationship definitions with other tables. 

4. You can set the location where the data is actually stored in the computer hard drive.

### **Create Table**

```
CREATE TABLE `new_schema`.`new_table` (
  `id` INT NOT NULL COMMENT 'This is a primary index',
  PRIMARY KEY (`id`)
);
```

- ```CREATE TABLE `new_schema`.`new_table` ``` describe in which schema the database should create the table.

- `id`: column name

- `INT`: the data type

- `NOT NULL`: a kind of column attribute function

- `COMMENT 'This is a primary index'`: the comment for the column

- ```PRIMARY KEY (`id`)```: declare the metadata of this table ("Primary Key" is a very important field for concatenating data tables and improving the efficiency of searching data)

### **Read Table**

```
SHOW FULL COLUMNS FROM `new_schema`.`new_table`;
```

- `SHOW FULL COLUMNS`: to view the content of the defined table

### **Destroy Table**

```DROP TABLE `new_schema`.`new_table`;```

- `DROP` means to remove a table in the database, dangerous!

### **Clean Table**

```TRUNCATE `new_schema`.`new_table`;```

Use the `TRUNCATE` statement, to delete all data, but not the table.



<br><br><br>

## Column

Each column is responsible for limiting the **type** and **size** of values that the data can store.

### **Data Types**

1. **number:**

- Integers: `BIGINT`, `INT`, `MEDIUMINT`, `SMALLINT`, `TINYINT`. The most common setting is `INT`.

- Decimals: `DOUBLE`, `FLOAT`, `DECIMAL`. DECIMAL(5, 2), the value must be 5 digits, and two of the digits occur after the decimal point, like 666.88


2. **datetime:** 

- `DATE`, `MONTH`, `YEAR`

- `DATETIME`: purely datetime value format like `8888-01-01 00:00:00`

- `TIMESTAMP` is limited to between `1970-01-01 00:00:01` and `2038-01-19 03:14:07`

3. **text:**

- `CHAR`: for fixed text lengt

- `VARCHAR`: for data whose length will change. The most common default setting is `VARCHAR(45)`

- `TEXT`: for text data whose maximum length is unknown

4. **Other:**
- `BINARY`, `BLOB`: Store data of file type, such as images or videos.
- `BOOLEAN`: 1 or 0.
- `JSON`: more details in `SQL Syntax: JSON`

### **Column Attribute Functions**

When new data is added to the table, the database will process the data format or content in advance. 

1. `NOT NULL`: Force the column to NOT accept null values. Note that blank text is not null value. `NULL` indicates the **absence of a value**, while blank value means there is a value, but **empty (for a string value) or 0 (for a numeric value)**.

2. `AUTO_INCREMENT`: In the database, it will automatically generate the column's values one by one using numbers. In PostgreSQL, it is `SERIAL` and Oracle will use `IDENTITY`.

3. `DEFAULT` + `'(default value)'`: Set the default value in case the data may be empty.

### **Create Column**

```ALTER TABLE `new_schema`.`users` ```

```ADD COLUMN `age` INT NULL AFTER `user_name`;```

1. `ALTER TABLE`: To declare that we want to alter the table.

2. `ADD COLUMN`: Add the setting which be used when we create a table; use the `AFTER` to set the column order

```
CREATE TABLE `new_schema`.`users` (
  `id` INT NOT NULL AUTO_INCREMENT COMMENT 'This is the primary index',
  `name` VARCHAR(45) NOT NULL DEFAULT `N/A`,
  PRIMARY KEY (`id`)
)
```

### **Update Column**
generate a new rule and overwrite original version

```
ALTER TABLE `new_schema`.`users`
CHANGE COLUMN `id` `id` INT(11) NOT NULL AUTO_INCREMENT, 
CHANGE COLUMN `name` `user_name` VARCHAR(45) NOT NULL DEFAULT 'No Name';
```

1. `ALTER TABLE`: When changing the column settings, we need to declare that we want to alter the table.
2. `CHANGE COLUMN`: to adds new rules; `id` - `id` and `name` - `user_name`. The first is the existing column name, and the second is the new column name, followed by the new rules for the column.

### **Create Column**
create a new column

```
ALTER TABLE `new_schema`.`users`
ADD COLUMN `age` INT NOT NULL AFTER `user_name`;
```

1. `ADD COLUMN`: Add the same settings that used for creating a table.
2. `AFTER`: to set the column order.